
  .rating-container{
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    transform: rotate(-90deg);
  }
  
  .inner-circle {
    stroke-dasharray: 100;
    stroke-linecap: round;
    color: rgb(243, 186, 175)
  }

  .percent{
    position: absolute;
    font-size: 1rem;
    font-weight: 800;
    color: #fff ;
  }
  
  .percent  sup{
    font-size: 0.5rem;
  }
  

 