.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .popular{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  
  }
  
  .popular-title{
    font-size: 1.2rem;
    font-weight: 800;
  }
  .popular-container{
    width: 82%;
    margin: 1.2rem;
  }

  .popular-header{
    display: flex;
    gap: 1rem;
  }

  .popular-header ul{
    display: flex;
    border: 1px solid gray;
    border-radius:1.9rem;
  }

  .popular-header  li{
      padding: 0.2rem 2rem ;
      transition:  ease;
      
  }
  .popular-header  li:hover{
    cursor: pointer;
  }
  .active-media{
    background-color: aqua;
    border-radius: 1.9rem;
    
  }