

.card{
    position: relative;
    margin-top: 0.3rem;
    margin-right: 1rem;
}
.card-image{
    display: flex;
    flex-direction: column;
    position: relative;
}
.card-image img{
    height: 300px;
    width: 200px;
    border-radius: 13px;
}

