.header {
  width: 80%;
  height: 25rem;
  background-color: rgb(1, 180, 228);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (min-width:750px) {
  .header-wrapper-wrapper{
    width: 85%;
  }


}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
}

.title {
  margin-bottom: 2.5rem;
}

.title h1{
  font-size: 2rem;
}
