

.movie-page-header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('.../../../../assets/images/test.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

}
.movie-header-container{
    width: 80%;
    display: flex;
    margin: 2rem 3rem;
    word-break:break-all;

    /* flex-wrap: wrap; */
}

.movie-poster-image{
    margin : 0 1.5rem;
    border-radius: 15px;
    
}

.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.movie-title{
    font-weight: 800;
    color: #fff;
}

.movie-rating{
    display: flex;
    justify-items: center;
}
.user-score{
    align-self: center;
    font-weight: 700;
}
.movie-header-actions{
    display: flex;
    align-items: center;
}
.fav-icon{
    background: rgba(3,37,65, 1);
    padding: 0.3rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(360);
}

.fav-icon svg{
    transform: rotate(0);
}
.movie-extras{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
    margin-top: 0.7rem;
}
.movie-cast{
    margin-top: 0.7rem;
    overflow: hidden;
    display: flex;
    justify-content: end;
    
}

.movie-cast-container{
    width: 80%;
    position: relative;
   
}

.movie-cast-title{
    margin: 0 0.5rem 1.5rem 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}


.movie-sidebar{
    margin-top: 0.7rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}

.shadow{
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
    will-change: opacity;
    pointer-events: none;
}

.social-icons{
    display: grid;
    grid-template-columns:max-content max-content max-content max-content ;
    gap: 0.8rem;
}

.movie-status-title,.movie-language-title,.movie-budget-title,.movie-revenue-title{
    font-weight: 700;
}